.annotatedHtmlListSection {
  padding: 10px;
  height: 100%;

  .bulkActions {
    text-align: left;
  }

  .annotatedHtmlList {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    overflow-y: scroll;

    .annotatedHtmlItem {
      display: flex;
      height: 50px;
      align-items: center;
      padding: 10px;
      background: #eee;
      // justify-content: center;
    }

    .annotatedHtmlItem:nth-of-type(odd) {
      background: #ccc;
    }

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }

    .listActions {
      display: flex;
      align-items: center;
      justify-content: right;
      margin-left: 100px;
      width: 300px;
    }

    .fileDetails {
      width: 300px;
      display: flex;
      padding-left: 20px;
    }
  }
}