.annotatedHtmlListSection {
    padding: 10px;
    height: 100%;

    .annotatedHtmlList {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 90%;
        overflow-y: scroll;

        .annotatedHtmlItem {
            display: flex;
            height: 50px;
            align-items: center;
            // justify-content: center;
        }

        .listActions {
            display: flex;
            align-items: center;
            justify-content: right;
            margin-left: 100px;
            width: 300px;
        }

        .fileDetails {
            width: 300px;
            display: flex;
            padding-left: 20px;
        }
    }
}